body
{
    font-size: 18px;
    font-weight: bold;
}

#center
{
    margin-left: auto;
    margin-right: auto;
}

.userResults
{
  
}

.my-card
{
  max-height: 200px;
  max-width: 50%;
  margin-left: 25%;
}

.inspect
{
  width: 75%;
  height: 80%;
}

.submit_label
{
  font-size: 24px;
}

/* This is the old styling from the HTML/CSS Luke did in case we need it. */
/* header {
background-color: #152238;
color: #08E8DE;
padding-bottom: 0px;
margin-bottom: 0px;
padding-top: 0px;
text-align: center;">
}

nav {
  background-color:#1c2e4a;
  text-align: center;
  line-height: 50px;
  margin: 0px;
  padding: 20px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #08E8DE;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: black
  }

aside {
    background-color: #1c2e4a;
    width: 175px;
    line-height: 50px;
    text-align: center;
    border-right: 5px;
    border-right-style: groove;
    border-right-color: #08E8DE;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #08E8DE;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #08E8DE;
    padding: 10px;
    float:left;
    height: 300px;
    }

main {
    background-color: #23395D;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #08E8DE;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #08E8DE;
    height: 300px;
    padding: 10px;
    padding-left: 10%;
    }

footer {
  height: 120px;
  background-color: #152238;
  padding-left: 200px;
  }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  } */
