<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.14.5/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="app">
      <q-layout view="hHh lpR fFf" class="bg-blue-grey-5 text-white">
        <q-header elevated bordered class="bg-indigo-10 text-white">
          <q-toolbar class="glossy">
            <q-btn color="teal-12" dense flat round icon="menu" @click="left = !left"></q-btn>
            <q-toolbar-title>
              <q-avatar>
                <img src="{% static 'images/SongSpaceLogo.png' %}" alt="Logo" label="Discover" onclick="location.href = '/'" width="100px" height="100px">
              </q-avatar>
              SongSpace
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-drawer show-if-above v-model="left" side="left" bordered>
          <!-- drawer content -->
          <q-btn color="blue-9" padding="8px" label="Discover" class="full-width" onclick="location.href = '/'"> </q-btn>
          <q-btn color="blue-8" padding="8px" label="Search" class="full-width" onclick="location.href = '/'"></q-btn>
          <q-btn color="blue-7" padding="8px" label="Account Login" class="full-width" onclick="location.href = '/login'"> </q-btn>
          <q-btn color="blue-6" padding="8px" label="View Playlists" class="full-width" onclick="location.href = '/playlists'"> </q-btn>
          <q-btn color="blue-5" padding="8px" label="Settings" class="full-width" onclick="location.href = '/settings'"> </q-btn>
        </q-drawer>

        <q-footer reveal elevated>
       <q-toolbar class="bg-indigo-10">
         <q-toolbar-title>Footer Needs Information</q-toolbar-title>
       </q-toolbar>
     </q-footer>

        <q-page-container>
          <router-view>
            {% block main_page %}
            <q-page padding>
         <p v-for="n in 15" :key="n">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nihil praesentium molestias a adipisci, dolore vitae odit, quidem consequatur optio voluptates asperiores pariatur eos numquam rerum delectus commodi perferendis voluptate?
         </p>
       </q-page>
            {% endblock %}
          </router-view>

          <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
          <q-btn fab icon="keyboard_arrow_up" color="accent" />
          </q-page-scroller>
        </q-page>

      </q-page-container>

      </q-layout>
    </div>

    <!-- imports -->
    <script  src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/quasar@1.14.5/dist/quasar.umd.min.js"></script>
    </script>

    {% block extra_dependencies %}
    {% endblock %}

</body>
</html>
