<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.14.5/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="app">
      <q-layout view="hHh lpR fFf" class="bg-blue-grey-9 text-white">
        <q-header elevated bordered class="bg-indigo-10 text-white">
          <q-toolbar class="bg-indigo-10 text-white shadow-2 rounded-borders q-pa-md">
            <q-btn flat round dense icon="menu" class="q-mr-sm" @click="left = !left"></q-btn>

            <q-toolbar-title>

              <div class="text-h4 text-weight-bolder"><q-avatar>
                <img src="{% static 'images/SongSpaceLogo.png' %}" alt="Logo" label="Discover" onclick="location.href = '/'" width="100px" height="100px">
              </q-avatar> SongSpace</div>
            </q-toolbar-title>

            <div>
              [% username_f %]⠀ <!-- BLANK UNICODE DON'T GET RID OF SPACE -->
            </div>

            <q-separator dark vertical ></q-separator>
            <q-btn stretch flat label="Login" @click="login_dialog = true">
              <q-tooltip transition-show="rotate" transition-hide="rotate">
                 Login To Existing Account
               </q-tooltip>
            </q-btn>
            {% block login_dialog %}
            {% endblock %}

            <q-separator dark vertical ></q-separator>
            <q-btn stretch flat label="Register" @click="register_dialog = true">
              <q-tooltip transition-show="rotate" transition-hide="rotate">
                 Register A New Account
               </q-tooltip>
            </q-btn>


            {% block register_dialog %}
            {% endblock %}

            {% block new_password_dialog %}
            {% endblock %}

          </q-toolbar>
        </q-header>


        <q-toolbar class="glossy">
          <q-btn dense flat round icon="menu" ></q-btn>
          <q-btn flat round dense label="LOGIN"></q-btn>
          <q-separator></q-separator>
          <q-btn flat round dense label="REGISTER"></q-btn>
        </q-toolbar>


        <q-drawer show-if-above v-model="left" side="left" content-class="bg-blue-grey-10">
          <!-- drawer content -->
          <q-separator></q-separator>
          <div class="q-pa-md q-gutter-sm">
            <div>
              <q-btn color="light-blue-13" label="Discover" class="full-width" onclick="location.href = '/'">
                <q-tooltip transition-show="rotate" transition-hide="rotate">
                   Discover Trending Playlists
                 </q-tooltip>
              </q-btn>
            </div>
          </div>
          <q-separator></q-separator>

          {% block create_playlist_dialog %}
          {% endblock %}
          <q-separator></q-separator>

          {% block add_from_spotify %}
          {% endblock %}
          <q-separator></q-separator>

          {% block my_playlists_dialog %}
          {% endblock %}
          <q-separator></q-separator>

          {% block search_block %}
          {% endblock %}
          <q-separator></q-separator>

          {% block settings %}
          {% endblock %}
          <q-separator></q-separator>

          {% block profile %}
          {% endblock %}

          {% block login_block %}
          {% endblock %}

          {% block inspect_user %}
          {% endblock %}

          {% block inspect_playlist %}
          {% endblock %}

          {% block view_own_playlist_dialog %}
          {% endblock %}

        </q-drawer>

        <q-footer reveal>
          <q-toolbar class="bg-indigo-10 text-white">
           <q-separator vertical inset></q-separator>
           <q-btn stretch flat label="About Us" @click="about_us_dialog = true"></q-btn>
           {% block about_us %}
           {% endblock %}
           <q-space></q-space>
           <q-btn stretch flat label="Contact Us" @click="contact_us_dialog = true"></q-btn>
           {% block contact_us %}
           {% endblock %}
           <q-space></q-space>
           <q-btn stretch flat label="Ethics" @click="ethics_dialog = true"></q-btn>
           {% block ethics %}
           {% endblock %}
           <q-space></q-space>
           <q-btn stretch flat label="External Links" @click="external_dialog = true"></q-btn>
           {% block external %}
           {% endblock %}
           <q-space></q-space>
           <q-btn stretch flat label="Ownership" @click="ownership_dialog = true"></q-btn>
           {% block ownership %}
           {% endblock %}
           <q-space></q-space>
           <q-btn stretch flat>
             <q-avatar>
               <img src="{% static 'images/AppleMusic.png' %}" alt="Apple Music Logo" label="Apple Music" onclick="location.href = 'https://music.apple.com/us/browse'">
             </q-avatar>
           </q-btn>
           <q-btn stretch flat>
             <q-avatar>
               <img src="{% static 'images/Spotify.png' %}" alt="Spotify Logo" label="Spotify" onclick="location.href = 'https://www.spotify.com/us/'">
             </q-avatar>
           </q-btn>
           <q-separator vertical inset></q-separator>
          </q-toolbar>
        </q-footer>



        <q-page-container>
          <h2 style="text-align:center"><strong>Welcome [% username_f %]</strong></h2>
          <h2 style="text-align:center"><strong>Discover New Playlists</strong></h2>
          <router-view>
            <q-page padding style="height: 50vh;">
              {% block landing_dialog %}
              {% endblock %}
              {% block dashboard %}
              {% endblock %}
            </q-page>
          </router-view>

          <q-page-scroller position="bottom" :scroll-offset="150" :offset="[18, 18]">
          <q-btn fab icon="keyboard_arrow_up" color="indigo-8" />
          </q-page-scroller>
        </q-page>

      </q-page-container>

      </q-layout>
    </div>

    <!-- imports -->
    <script  src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/quasar@1.14.5/dist/quasar.umd.min.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

    {% block extra_dependencies %}
    {% endblock %}

</body>
</html>
