{% extends "frontend/base.html" %}

{% block login_dialog %}
<q-dialog v-model="login_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
  <q-card>
    <q-bar class="bg-light-blue-9">
      <q-space></q-space>
      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip content-class="bg-light-blue-9 text-white">Close</q-tooltip>
      </q-btn>
    </q-bar>
    <q-card-section>
      <div class="text-h6">Login</div>
    </q-card-section>
    <q-card-section class="q-pt-none">
      <q-form @submit="submitLogin" class="q-gutter-md">
        <q-input filled  v-model="username" label="Username" hint="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type username']"></q-input>
        <q-input v-model="password" filled :type="isPwd ? 'password' : 'text'" label="Password" hint="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd"/>
          </template>
        </q-input>
          <div>
            <q-btn label="Submit Login" type="submit" color="light-blue-10"></q-btn>
          </div>
      </q-form>
    </q-card-section>
  </q-card>
</q-dialog>
{% endblock %}





{% block register_dialog %}
<q-dialog v-model="register_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
  <q-card>

    <q-bar class="bg-light-blue-9">
      <q-space></q-space>

      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip content-class="bg-light-blue-9 text-white">Close</q-tooltip>
      </q-btn>
    </q-bar>

    <q-card-section>
      <div class="text-h6">Register new user </div>
    </q-card-section>

    <q-card-section class="q-pt-none">

      <q-form @submit="submitRegister" class="q-gutter-md">
        <q-input filled  v-model="username" label="Username" hint="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type username']"></q-input>
        <q-input filled  v-model="mail" type="email" label="Email" hint="email"></q-input>

        <q-input v-model="password" filled :type="isPwd ? 'password' : 'text'" label="Password" hint="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
          <div>
            <q-btn label="Register New Account" type="submit" color="light-blue-10"></q-btn>
          </div>
      </q-form>

    </q-card-section>
  </q-card>
</q-dialog>
{% endblock %}


{% block create_playlist_dialog %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Create Playlist" color="light-blue-12" class="full-width" @click="create_playlist_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Make Your Own Playlist
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="create_playlist_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-light-blue-9 text-white">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6">Create a New Playlist</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form @submit="submitPlaylist" class="q-gutter-md">
          <div class="row">
            <q-uploader color="light-blue-10" url="" max-files="1" accept=".jpg, image/*"></q-uploader>

            <div class="col q-pa-sm">
              <div class="row">
                <div class="col q-px-sm">
                  <q-input color="light-blue-9" filled v-model="playlist_title" label="Playlist Title" lazy-rules :rules="[ val => val && val.length > 0 || 'Please enter playlist title.']"></q-input>
                </div>
                <div class="col q-px-sm">
                  <q-input color="light-blue-9" filled v-model="playlist_genre" label="Playlist Genre"></q-input>
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-s">
                  <q-input color="light-blue-9" v-model.number="number_of_tracks" type="number" min="1" max="50" placeholder="1" filled style="max-width: 200px" id="number_of_tracks" onchange="TrackNumberChange();"></q-input>
                </div>
                <div class="col q-pa-sm">
                  <q-checkbox v-model="public" label="Public" />
                </div>
                <div class="col q-pa-sm">
                  <q-btn label="Create Playlist" type="submit" color="light-blue-10" padding="md xl"></q-btn>
                </div>
              </div>
              <q-input color="light-blue-10" filled v-model="playlist_description" label="Playlist Description (optional)" type="textarea" maxlength="200" autogrow></q-input>
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-section>
        <div id="TrackInputs" style="line-height:50%;">
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block my_playlists_dialog %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="My Playlists" color="light-blue-12" class="full-width" @click="my_playlists_dialog = true; retrievePlaylistCollection()">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         View Your Playlist Collection
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="my_playlists_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <h2 style="text-align:center">Your Playlists</h2>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="q-pa-md">
          <div class="row q-col-gutter-x-xs q-col-gutter-y-lg">
            <div class="col-4" v-for="n in 18" :key="`none-${n}`">
              <div class="bg-yellow-2 my-content" style="height:400px">&nbsp;</div>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}




{% block search_block %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Search" color="light-blue-12" class="full-width" @click="search_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Find Playlists, Songs Or Users
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="search_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-tabs v-model="tab" class="bg-light-blue-9 text-white" align="justify" narrow-indicator>
        <q-tab name="Playlists" label="Playlists"></q-tab>
        <q-tab name="Songs" label="Songs"></q-tab>
        <q-tab name="Users" label="Users"></q-tab>
      </q-tabs>

      <q-separator></q-separator>

      <q-tab-panels v-model="tab" animated class="bg-blue-grey-2 text-center">
        <q-tab-panel name="Playlists">
          <div class="text-h6">Search For Created Playlists</div>
          <q-card-section class="q-pt-none">
            <q-input standout bottom-slots v-model="playlist_search_text" label="Search For Playlist Name" :dense="dense">
              <template v-slot:before>
                <div>
                  <q-spinner-gears color="dark" size="2em"></q-spinner-gears>
                </div>
              </template>
              <template v-if="playlist_search_text" v-slot:append>
                <q-icon name="cancel" @click.stop="playlist_search_text = null" class="cursor-pointer"></q-icon>
              </template>
              <template v-slot:hint>
                To Search For Songs Or Users, Change Tab!
              </template>
            </q-input>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="Songs">
          <div class="text-h6">Search For Your Favourite Songs</div>
          <q-card-section class="q-pt-none">
            <q-input standout bottom-slots v-model="song_search_text" label="Search For Song Name" :dense="dense">
              <template v-slot:before>
                <div>
                  <q-spinner-audio color="dark" size="2em"></q-spinner-audio>
                </div>
              </template>
              <template v-if="song_search_text" v-slot:append>
                <q-icon name="cancel" @click.stop="song_search_text = null" class="cursor-pointer"></q-icon>
              </template>
              <template v-slot:hint>
                To Search For Playlists Or Users, Change Tab!
              </template>
            </q-input>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="Users">

          <div class="text-h6">Find Your Friends By Searching For Users</div>
          <q-card-section class="q-pt-none">
            <q-form @submit="userSearch">
              <q-input standout bottom-slots v-model="user_search_text" label="Search For SongSpace User" :dense="dense">
                <template v-slot:before>
                  <div>
                    <q-spinner-comment color="dark" size="2em"></q-spinner-comment>
                  </div>
                </template>
                <template v-if="user_search_text" v-slot:append>
                  <q-icon name="cancel" @click.stop="user_search_text = null" class="cursor-pointer"></q-icon>
                </template>
                <template v-slot:hint>
                  To Search For Playlists Or Songs, Change Tab!
                </template>
              </q-input>
            </q-form>

            <div class="q-pa-md">
              <q-list v-show="searchMade" bordered separator style="max-width: 50%">
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(0); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[0].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[0].first_name %]‏‏‎ ‎ [% searchUsers[0].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(1); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[1].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[1].first_name %]‏‏‎ ‎ [% searchUsers[1].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(2); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[2].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[2].first_name %]‏‏‎ ‎ [% searchUsers[2].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(3); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[3].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[3].first_name %]‏‏‎ ‎ [% searchUsers[3].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(4); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[4].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[4].first_name %]‏‏‎ ‎ [% searchUsers[4].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(5); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[5].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[5].first_name %]‏‏‎ ‎ [% searchUsers[5].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(6); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[6].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[6].first_name %]‏‏‎ ‎ [% searchUsers[6].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(7); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[7].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[7].first_name %]‏‏‎ ‎ [% searchUsers[7].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(8); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[8].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[8].first_name %]‏‏‎ ‎ [% searchUsers[8].last_name %]</q-item-section>
                </q-item>
                <q-item class="bg-blue-2 text-left text-weight-medium text-subtitle1" rounded clickable v-ripple @click="selectUser(9); profile_dialog = true;">
                  <q-item-section>Username: [% searchUsers[9].username %] ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Name: [% searchUsers[9].first_name %]‏‏‎ ‎ [% searchUsers[9].last_name %]</q-item-section>
                </q-item>
              </q-list>
            </div>

          </q-card-section>
        </q-tab-panel>
       </q-tab-panels>
     </q-card>
  </q-dialog>
</div>
{% endblock %}

{% block profile %}
<div>
  <q-dialog v-model="profile_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="text-h20 text-center">
        Username: [% searchUsers[this.current_profile].username %]<br>
        ‎Name: [% searchUsers[current_profile].first_name %]‏‏‎ ‎ [% searchUsers[current_profile].last_name %]
      </q-card-section>



    </q-card>
  </q-dialog>
</div>
{% endblock %}

{% block settings %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Account" color="light-blue-12" class="full-width" @click="retrieveAccount">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Manage your Account
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="account_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-grey-9 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-light-blue-10 text-white">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="text-h3 text-center text-white text-bold bg-grey-10">
        <div>Your Account</div>
      </q-card-section>

      <q-card-section class="q-pt-none bg-grey-9">
        <q-form @submit="submitAccountChanges" class="q-gutter-md">
          <div class="row">
            <div class="col q-pa-sm">
              <div class="row">
                <div class="col q-px-sm">
                  <q-input bg-color="blue-grey-2" color="blue-9" filled v-model="username_f" label="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please enter a valid username.']" :readonly="!profile_edit"></q-input>
                </div>
                <div class="col q-px-sm">
                  <q-input bg-color="blue-grey-2" color="blue-9" filled v-model="mail_f" label="Email" :readonly="!profile_edit"></q-input>
                </div>
                <div class="col q-px-sm">
                  <q-input bg-color="blue-grey-2" color="blue-9" filled v-model="loc" label="Location (Country)" :readonly="!profile_edit"></q-input>
                </div>
              </div>


              <div class="row">
                <div class="col q-px-sm">
                  <q-input bg-color="blue-grey-2" color="blue-9" filled v-model="first_name" label="First Name" :readonly="!profile_edit"></q-input>
                </div>
                <div class="col q-px-sm">
                  <q-input bg-color="blue-grey-2" color="blue-9" filled v-model="last_name" label="Last Name" :readonly="!profile_edit"></q-input>
                </div>
                <div class="col q-pa-sm text-white">
                  <q-toggle v-model="profile_edit" text-white color="light-blue-6" label="Toggle Edit"></q-toggle>
                </div>
                <div class="col q-pa-sm">
                  <q-btn label="Change Password" class="full-width" color="light-blue-6" padding="md xl" @click="new_password_dialog = true"></q-btn>
                </div>
                <div class="col q-pa-sm">
                  <q-btn label="Submit Changes" class="full-width" type="submit" color="light-blue-6" padding="md xl" :disable="!profile_edit"></q-btn>
                </div>
              </div>

              <div class="row">
                <div class="col q-px-sm text-white">
                  Number of Playlists: [% num_of_playlists %]
                </div>
                <div class="col q-px-sm text-white">
                  Date Joined:  [% date_joined %]
                </div>
                <div class="col q-px-sm text-white">
                  Last Visited:  [% last_login %]
                </div>
                <div class="col q-px-sm"></div>
                <div class="col q-px-sm"></div>
                <div class="col q-px-sm"></div>
              </div>

            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-section class="text-h3 text-center text-bold text-white bg-grey-">
        <div></div>
      </q-card-section>
      <q-card-section>
        <div class="row text-h7 text-center text-bold text-white bg-grey-8">
          <div class="col">
            <div>Followers</div>
          </div>
          <div class="col">
            <div>Following</div>
          </div>
        </div>
        <div class="row">
          <div class="col q-pa-sm">
            <div class="q-ma-md">
              <q-scroll-area :bar-style="barStyle" class="bg-grey-8" style="height: 200px; max-width: 500px;">
                <div v-for="n in 100" :key="n" class="q-pa-xs text-white">
                  Words
                </div>
              </q-scroll-area>
            </div>
          </div>
          <div class="col q-pa-sm">
            <div class="q-ma-md">
              <q-scroll-area :bar-style="barStyle" class="bg-grey-8" style="height: 200px; max-width: 500px;">
                <div v-for="n in 100" :key="n" class="q-pa-xs text-white">
                  Words
                </div>
              </q-scroll-area>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}

{% block new_password_dialog %}
<q-dialog v-model="new_password_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
  <q-card>

    <q-bar class="bg-light-blue-9">
      <q-space></q-space>
      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip content-class="bg-light-blue-10 text-white">Close</q-tooltip>
      </q-btn>
    </q-bar>

    <q-card-section>
      <div class="text-h6">Change Password</div>
    </q-card-section>

    <q-card-section class="q-pt-none">

      <q-form @submit="submitPasswordChange" class="q-gutter-md">
        <q-input filled  v-model="username_current" label="Username" hint="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type username']"></q-input>

        <q-input v-model="password_old" filled :type="isPwd ? 'password' : 'text'" label="Old Password" hint="Enter Your Current Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

        <q-input v-model="password_new" filled :type="isPwd ? 'password' : 'text'" label="New Password" hint="Enter a New Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

          <div>
            <q-btn label="Submit Login" type="submit" color="light-blue-10"></q-btn>
          </div>
      </q-form>


    </q-card-section>
  </q-card>
</q-dialog>
{% endblock %}

{% block landing_dialog %}
<div class="q-pa-md q-gutter-sm">
  <q-dialog v-model="landing_dialog" :maximized="true" persistent transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

          <q-parallax class="no-margin full-height">
            <template v-slot:media>
              {% load static %}
              <img src="static/images/Landing.jpg" alt="Background" label="Background">
            </template>
            <template v-slot:content="scope">
              <div class="absolute column items-center" :style="{opacity: 0.55 + (1 - scope.percentScrolled) * 0.55, top: (scope.percentScrolled * 60) + '%', left: 0, right: 0}">
                <img src="static/images/SongSpaceLogo.png" style="width: 17%; height: 17%">
                <div class="text-h2 text-white text-center">SongSpace</div>
                <div class="text-h4 text-grey-1 text-center">Explore the Playlists You Love</div>
                <div class="q-mt-md row justify-center">
                  <q-fab padding="30px" v-model="fab1" label="Menu" label-position="bottom" glossy color="light-blue-5" icon="keyboard_arrow_down" direction="down" :hide-label="hideLabels">
                    <q-fab-action :hide-label="hideLabels" color="light-blue-6" @click="landing_dialog=false" icon="play_circle_outline" label="Explore"></q-fab-action>
                    <q-fab-action :hide-label="hideLabels" color="light-blue-7" @click="register_dialog=true" icon="person_add" label="Register"></q-fab-action>
                    <q-fab-action :hide-label="hideLabels" color="light-blue-8" @click="login_dialog=true" icon="person" label="Login"></q-fab-action>
                    <q-fab-action :hide-label="hideLabels" color="light-blue-12" @click="about_us_dialog=true" icon="help_outline" label="Information"></q-fab-action>
                  </q-fab>
                </div>
              </div>

            </template>
          </q-parallax>

    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block about_us %}
<div>
  <q-dialog v-model="about_us_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6 text-center">Our Introduction</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        We are students at the University of Manchester in the UK and we created SongSpace
        <br><br>
        This is a website that helps you manage and display your music list
        <br><br>
        You can use SongSpace to fully manage and enjoy music.
        <br><br>
        SongSpace provides an alternative means of creating, viewing, and sorting your actual playlists. You can post your custom to make playlists to a public space, which can then be reviewed by other users on the site.
        <br><br>
        You are welcome to contact us at any time.
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block contact_us %}
<div>
  <q-dialog v-model="contact_us_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h4 text-center">Our Address</div>
      </q-card-section>

      <q-card-section class="text-h20 text-center">
        The University of Manchester
        <br>
        Oxford Rd
        <br>
        Manchester
        <br>
        M13 9PL
        <br>
        UK

      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block ethics %}
<div>
  <q-dialog v-model="ethics_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6 text-center">SongSpace Ethics</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
          This application was made following the ACM Code of Ethics and Professional Conduct, which can be found at the following link:
          <a style="color: black;" href = "https://www.acm.org/code-of-ethics">https://www.acm.org/code-of-ethics.</a><br>
          A happy and hardworking team spirit was of upmost importance throughout the development of this application.

      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block external %}
<div>
  <q-dialog v-model="external_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6 text-center">External Links From Our Site</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Please note this website may also include links to other websites. These links are provided for your convenience to provide further information.
        They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
          <br><br>
        Although we make every effort to ensure these external links are accurate, up to date and relevant, SongSpace cannot take responsibility for pages maintained by external providers.
          <br><br>
        If you come across any outdated or broken links, please <a style= "color: black;" href="mailto:luke.deaves-jarvis@student.manchester.ac.uk">contact our team</a> immediately.
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}

{% block ownership %}
<div>
  <q-dialog v-model="ownership_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-9">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6 text-center">Ownership Of The Site</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics.<br>
        Copyright © 2021 SongSpace, All Rights Reserved.
          <br><br>
        Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information
        and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors
        and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
          <br><br>
        The content of the pages of this website is for your general information and use only. It is subject to change without notice.
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}



{% block dashboard %}
    <div class="q-pa-md">
      <div class="row q-col-gutter-x-xs q-col-gutter-y-lg">
        <div class="col-4" v-for="n in 18">
          <div class="bg-grey-8 my-content" style="height:400px">&nbsp; Playlist Information Will Go Here</div>
        </div>
      </div>
    </div>
{% endblock %}




{% block extra_dependencies %}
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
