{% extends "frontend/base.html" %}


{% block login_dialog %}
<q-dialog v-model="login_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
  <q-card>

    <q-bar>
      <q-space></q-space>
      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
      </q-btn>
    </q-bar>

    <q-card-section>
      <div class="text-h6">Login</div>
    </q-card-section>

    <q-card-section class="q-pt-none">

      <q-form @submit="submitLogin" class="q-gutter-md">
        <q-input filled  v-model="username" label="Username" hint="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type username']"></q-input>

        <q-input v-model="password" filled :type="isPwd ? 'password' : 'text'" label="Password" hint="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

          <div>
            <q-btn label="Log in" type="submit" color="green"></q-btn>
          </div>
      </q-form>


    </q-card-section>
  </q-card>
</q-dialog>
{% endblock %}





{% block register_dialog %}
<q-dialog v-model="register_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
  <q-card>

    <q-bar>
      <q-space></q-space>

      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
      </q-btn>
    </q-bar>

    <q-card-section>
      <div class="text-h6">Register new user </div>
    </q-card-section>

    <q-card-section class="q-pt-none">

      <q-form @submit="submitRegister" class="q-gutter-md">
        <q-input filled  v-model="username" label="Username" hint="Username" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type username']"></q-input>
        <q-input filled  v-model="mail" type="email" label="email" hint="email"></q-input>

        <q-input v-model="password" filled :type="isPwd ? 'password' : 'text'" label="Password" hint="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type password']">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
          <div>
            <q-btn label="Register !" type="submit" color="green"></q-btn>
          </div>
      </q-form>

    </q-card-section>
  </q-card>
</q-dialog>
{% endblock %}


{% block create_playlist_dialog %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Create Playlist" color="light-blue-10" class="full-width" @click="create_playlist_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Make Your Own Playlist
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="create_playlist_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-10">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-light-blue-10 text-white">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6">Create a New Playlist</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form @submit="submitPlaylist" class="q-gutter-md">
          <div class="row">
            <q-uploader color="light-blue-10" url="" max-files="1" accept=".jpg, image/*"></q-uploader>

            <div class="col q-pa-sm">
              <div class="row">
                <div class="col q-px-sm">
                  <q-input color="light-blue-10" filled v-model="playlist_title" label="Playlist Title" lazy-rules :rules="[ val => val && val.length > 0 || 'Please enter playlist title.']"></q-input>
                </div>
                <div class="col q-px-sm">
                  <q-input color="light-blue-10" filled v-model="playlist_genre" label="Playlist Genre"></q-input>
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-s">
                  <q-input color="light-blue-10" v-model.number="number_of_tracks" type="number" min="1" max="50" placeholder="1" filled style="max-width: 200px" id="number_of_tracks" onchange="TrackNumberChange();"></q-input>
                </div>
                <div class="col q-pa-sm">
                  <q-checkbox v-model="public" label="Public" />
                </div>
                <div class="col q-pa-sm">
                  <q-btn label="Create Playlist" type="submit" color="light-blue-10" padding="md xl"></q-btn>
                </div>
              </div>
              <q-input color="light-blue-10" filled v-model="playlist_description" label="Playlist Description (optional)" type="textarea" maxlength="200" autogrow></q-input>
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-section>
        <div id="TrackInputs" style="line-height:50%;">
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}


{% block my_playlists_dialog %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="My Playlists" color="light-blue-10" class="full-width" @click="my_playlists_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         View Your Playlist Collection
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="my_playlists_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-10">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6">My Playlists</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
          Here Are The Playlists You Have Created
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}




{% block search_block %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Search Playlists" color="light-blue-10" class="full-width" @click="search_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Find Playlists Or Users
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="search_dialog" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-10">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6">Search For Playlists Created By Other Users</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
          Here Is Search
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}



{% block settings %}
<div class="q-pa-md q-gutter-sm">
  <div>
    <q-btn label="Settings" color="light-blue-10" class="full-width" @click="settings_dialog = true">
      <q-tooltip transition-show="rotate" transition-hide="rotate">
         Change Display Or Account Settings
       </q-tooltip>
    </q-btn>
  </div>
  <q-dialog v-model="settings_dialog" :maximized="false" transition-show="slide-up" transition-hide="slide-down">
    <q-card class="bg-blue-grey-2 text-black">

      <q-bar class="bg-light-blue-10">
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="text-h6">Settings</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
          This is the content for settings
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
{% endblock %}




{% block dashboard %}

  <div class="q-pa-md">
  <div class="row q-col-gutter-x-xs q-col-gutter-y-lg">
    <div class="col-4" v-for="n in 18" :key="`none-${n}`">
      <div class="bg-yellow my-content" style="height:400px">&nbsp;</div>
    </div>
  </div>
  </div>
{% endblock %}




{% block extra_dependencies %}
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
