{% extends "frontend/base.html" %}

{% block main_page %}
<div class="q-pa-md" style="max-width: 400px">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="name"
        label="Username"
        hint="Please enter your username."
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      ></q-input>

      <q-input v-model="password" filled type="password" hint="Password"
        label="Password"
        hint="Please enter your password."
        lazy-rules
        :rules="[ val => val && val.length > 6 && val.length < 18 || 'Please type something']"
      ></q-input>

      <q-toggle v-model="accept" label="I accept the license and terms"></q-toggle>

      <div>
        <q-btn label="Submit" type="submit" color="primary"></q-btn>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"></q-btn>
      </div>
    </q-form>

  </div>
{% endblock %}

{% block extra_dependencies %}
{% load static %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
