<q-card-section class="q-pt-none">
    <q-form @submit="submitPlaylist" class="q-gutter-md">
      <div class="row">

       

        <div class="col q-pa-sm">

          <div class="row">
            <div class="col q-px-sm">

            </div>
            <div class="col q-px-sm">

            </div>
          </div>

          <div class="row">
            <div class="col q-pa-s">
              <q-input color="white" bg-color="grey-6" v-model.number="number_of_tracks" type="number" min="1"
                max="50" placeholder="1" filled style="max-width: 200px" id="number_of_tracks"
                onchange="TrackNumberChange();"></q-input>
            </div>
            <div class="col q-pa-sm text-white">
              <q-checkbox v-model="public" label="Public" dark color="cyan"></q-checkbox>
              <q-checkbox v-model="private" label="Private" dark color="cyan"></q-checkbox>
            </div>
            <div class="col q-pa-sm">
              <q-btn label="Create Playlist" type="submit" color="light-blue-9" padding="md xl"></q-btn>
            </div>
          </div>

          <q-input color="white" clearable bg-color="grey-6" filled v-model="playlist_description"
            label="Playlist Description (optional)" type="textarea" maxlength="200" autogrow></q-input>
        </div>
      </div>
    </q-form>
  </q-card-section>